/* Matugen generated colors for SwayNC */
@define-color bg {{colors.surface.default.hex}};
@define-color fg {{colors.on_surface.default.hex}};
@define-color accent {{colors.primary.default.hex}};
@define-color crit {{colors.error.default.hex}};