/* Import the pywal colors */
@import "../../.cache/matugen/colors-wofi.css";

window {
    margin: 0px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(10, 10, 10, 0.9); /* Dark obsidian base */
    font-family: "JetBrainsMono Nerd Font";
}

#input {
    margin: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: @foreground; /* Pywal Foreground */
    border-radius: 15px;
}

#entry {
    padding: 10px;
    border-radius: 15px;
    color: @color7; /* Pywal Grey/Accent */
}

/* Matching the "Glow" from your Waybar */
#entry:selected {
    background-color: rgba(255, 255, 255, 0.1);
    color: @foreground;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.1);
}

#text {
    margin: 5px;
}