/* ~/.config/matugen/ironbar-template.css */
/* Matugen will replace {{...rgba}} with something like rgba(20, 20, 22, 0.5) */

@define-color bg_pill {{colors.surface.default.rgba}};
@define-color fg_main {{colors.on_surface.default.hex}};
@define-color accent {{colors.primary.default.hex}};
@define-color active_bg {{colors.primary_container.default.rgba}};