:root {
    --bg-color: alpha({{colors.surface.default.hex}}, 0.7);
    --accent-color: {{colors.primary.default.hex}};
    --text-color: {{colors.on_surface.default.hex}};
    --border-color: alpha({{colors.primary.default.hex}}, 0.3);
}