@define-color primary #{{colors.primary.default.hex_stripped}};
@define-color secondary #{{colors.secondary.default.hex_stripped}};
@define-color background #{{colors.surface.default.hex_stripped}};
@define-color foreground #{{colors.on_surface.default.hex_stripped}};
@define-color error #{{colors.error.default.hex_stripped}};