/* Wofi colors from Matugen */
@define-color primary #{{colors.primary.default.hex_stripped}};
@define-color secondary #{{colors.secondary.default.hex_stripped}};
@define-color background #{{colors.surface.default.hex_stripped}};
@define-color foreground #{{colors.on_surface.default.hex_stripped}};
@define-color selection #{{colors.secondary_container.default.hex_stripped}};
@define-color on-selection #{{colors.on_secondary_container.default.hex_stripped}};