@import "colors.css";

/* Reset and global font */
* {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

/* 1. Make the outer window container transparent */
window#waybar {
    background: transparent;
}

/* 2. Style the internal box - This is what Hyprland will blur */
/* We target the top-level box inside waybar */
window#waybar > box {
    background-color: alpha(@bg_pill, 0.55); 
    border: 2px solid @accent;
    border-radius: 15px;
    /* Keeps background from leaking under border */
    background-clip: padding-box; 
    color: @fg_main;
    /* Margin gives space for the border to breathe away from the screen edge */
    margin: 4px 10px; 
}

/* Module Spacing */
.modules-left, .modules-center, .modules-right {
    margin: 2px;
}

#custom-launcher {
    min-width: 24px;
    margin-left: 10px;
    margin-right: 15px;
    background-image: url("/home/river/.icons/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#workspaces button {
    padding: 0 5px;
    color: @fg_main;
}

#workspaces button.active {
    color: @accent;
}

#tray {
    padding: 0 10px;
}

#pulseaudio {
    padding: 0 10px;
    color: @accent;
}

#clock {
    padding-right: 15px;
    padding-left: 5px;
    font-weight: bold;
}