@import "colors.css";

* {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: alpha(@bg_pill, 0.4); 
    border: 1px solid alpha(@accent, 0.4);
    border-radius: 15px;
    color: @fg_main;
}

#custom-launcher {
    min-width: 24px;
    margin-left: 10px;
    margin-right: 15px;
    background-image: url("/home/river/.icons/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#workspaces button {
    padding: 0 5px;
    color: @fg_main;
}

#workspaces button.active {
    color: @accent;
}

#tray {
    padding: 0 10px;
}

#pulseaudio {
    padding: 0 10px;
    color: @accent;
}

#clock {
    padding-right: 15px;
    padding-left: 5px;
    font-weight: bold;
}