@import "colors.css";

* {
    background-color: transparent;
    color: @foreground;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: alpha(@background, 0.9);
    border-bottom: 2px solid @primary; /* Optional accent line from Matugen */
}

.modules-left {
    margin: 8px 0px 8px 10px;
}

.modules-right {
    margin: 8px 10px 8px 0px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    color: @foreground;
}

#workspaces button.active {
    color: @primary; /* Matugen Accent */
}

#workspaces button.urgent {
    color: @error; /* Matugen Error/Red */
}

#cpu,
#bluetooth,
#pulseaudio,
#network,
#clock,
#battery,
#custom-exit,
#custom-updates,
#custom-brightness,
#custom-hypridle,
#custom-filemanager {
    padding: 0 10px;
    color: @foreground;
}

/* Specific Matugen color for the hypridle toggle when off */
#custom-hypridle.notactive {
    color: @error;
}