@import "colors.css";

* {
    font-family: "Google Sans Code", "JetBrainsMono Nerd Font";
    font-size: 14px;
}

@import "colors.css";

/* Style the whole bar as one rounded pill */
.background {
    /* Use a very transparent version of your background color */
    background-color: alpha(@bg_pill, 0.4); 
    border: 2px solid @accent;
    border-radius: 25px;
}

/* Launcher Icon */
.launcher {
    background-image: url("file:///home/river/.icons/logo.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 40px;
}

/* Add spacing so it doesn't look cramped */
.widget {
    margin: 0 10px;
}


/* Workspace Dots */
.workspaces button {
    background: transparent;
    color: alpha(@fg_main, 0.3);
}

.workspaces button.active {
    color: @accent;
}

