@import "colors.css";

/* Reset all default GTK padding/margins */
* {
    font-family: "Google Sans Code", "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
    box-shadow: none;
}

/* The invisible background container */
window#ironbar-0 {
    background-color: transparent;
}

/* THE PILL LOGIC
   We target the .widget class inside our named modules 
*/
.launcher,
.workspaces,
.clock,
.volume,
.network,
.tray {
    background-color: @bg_pill;
    color: @fg_main;
    border: 2px solid @accent;
    border-radius: 25px;
    margin: 0 4px;
    padding: 0 12px;
}

/* Launcher Specifics */
.launcher {
    background-image: url("file:///home/river/.icons/logo.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 40px;
}

/* Workspaces (Circular icons to match your Waybar) */
.workspaces button {
    color: alpha(@fg_main, 0.3);
}

.workspaces button.active {
    color: @accent;
}

.workspaces button.urgent {
    color: @error;
}