/* Matugen generated colors for SwayNC */
@define-color main-bg {{colors.surface.default.hex}};
@define-color main-fg {{colors.on_surface.default.hex}};
@define-color accent {{colors.primary.default.hex}};
/* Add any other variables you use in your style here */