/* Walker Obsidian x Matugen Template */
@define-color window_bg_color #0a1519;
@define-color accent_bg_color #50d5ff;
@define-color theme_fg_color #d9e4ea;
@define-color error_bg_color #ffb4ab;
@define-color error_fg_color #690005;


/* Ensure the window itself is transparent */
#window {
  background-color: transparent;
}

/* Give the root widget a transparent base */
window {
  background-color: transparent;
}

/* Now your aggressive unset won't break the transparency */
* {
  all: unset;
}

/* Base UI components */
.box-wrapper {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: alpha(@window_bg_color, 0.85); /* Obsidian Transparency */
  padding: 20px;
  border-radius: 20px;
  border: 1px solid alpha(@accent_bg_color, 0.5);
}

.input {
  caret-color: @theme_fg_color;
  background: alpha(@window_bg_color, 0.5);
  padding: 10px;
  color: @theme_fg_color;
  border-radius: 10px;
}

.input selection {
  background: alpha(@accent_bg_color, 0.4);
}

.list {
  color: @theme_fg_color;
  margin-top: 10px;
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

/* Selection State */
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.3);
}

.item-subtext {
  font-size: 12px;
  opacity: 0.6;
}

.preview-box, .placeholder, .elephant-hint {
  color: @theme_fg_color;
}

/* Icon scaling */
.normal-icons { -gtk-icon-size: 16px; }
.large-icons { -gtk-icon-size: 32px; }

scrollbar { opacity: 0; }
