/* Matugen Colors */
@define-color bg rgba({{colors.surface.default.rgba_stripped}}, 0.6);
@define-color fg {{colors.on_surface.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color accent {{colors.secondary.default.hex}};